<!-- Loop over each post post in the posts array -->
{{#if posts.length}}
{{#if logged_in}}
{{#each posts as |post| }}
<div class="row justify-content-between">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </h3>
        <span>Posted By {{post.user.username}} {{format_date post.date_created}}</span>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{post.content}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
{{#each posts as |post| }}
<div class="row justify-content-between">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>
          {{post.title}}
        </h3>
        <span>Posted By {{post.user.username}} {{format_date post.date_created}}</span>
      </div>
      <div class=" card-body">
        <p class="card-text">
          {{post.content}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
{{else}}
<h2>No posts to display.</h2>
{{/if}}