<!-- Loop over each blog post in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-10">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      {{!-- <a href="/project/{{project.id}}">{{project.name}}</a> --}}
      {{blog.title}} Posted By {{blog.user.username}} {{blog.date_created}}

    </h2>
    <p>
      {{blog.content}}
    </p>
  </div>
</div>
{{/each}}